div{
    color: white;
    background-color: crimson;
    width: 100%;
}
table,th,td{
    border: solid black 2px;
    border-collapse: collapse;
}
#chemistry{
    animation: gaycolor 1s linear 0s infinite;
}
@keyframes gaycolor {
    from {
        color: #6666ff;
      }
      10% {
        color: #0099ff;
      }
      50% {
        color: #00ff00;
      }
      75% {
        color: #ff3399;
      }
      100% {
        color: #6666ff;
      }
}