
h1{
    color: blue ;
}
a { 
    font-weight: bold; 
    font-size: 500px;
    display:inline-block; 
    text-decoration:none;
    ho
    }
body {
    text-align: center;
    background-color: cyan;
   

}
